COMPOSE_PROJECT_NAME=jm-broadband-panel
TZ=Asia/Dhaka
SITE_ADDRESS=:80
PUBLIC_HOST=127.0.0.1
PUBLIC_ORIGIN=http://127.0.0.1
COMPANY_NAME=JM Broadband
ADMIN_USERNAME=admin
ADMIN_FULLNAME=Administrator
ADMIN_PASSWORD_HASH=
DB_NAME=jm_panel
DB_USER=jm_panel
DB_PASSWORD=
DB_ROOT_PASSWORD=
RADIUS_SHARED_SECRET=
RADIUS_CLIENT_NETWORK=0.0.0.0/0
WHATSAPP_ADMIN_API_KEY=
WHATSAPP_API_KEY_PEPPER=
WHATSAPP_DELAY_MIN_MS=5000
WHATSAPP_DELAY_MAX_MS=9000
WHATSAPP_DAILY_LIMIT=500
